# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Front-end/node_modules
Front-end/.pnp
Front-end/.pnp.js

# testing
Front-end/coverage

# production
Front-end/build

# misc
Front-end/.DS_Store
Front-end/.env.local
Front-end/.env.development.local
Front-end/.env.test.local
Front-end/.env.production.local

Front-end/npm-debug.log*
Front-end/yarn-debug.log*
Front-end/yarn-error.log*
